fastapi
uvicorn
pandas
numpy
scikit-learn
joblib
kafka-python
faker
pymongo
xgboost
python-multipart
motor
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-dotenv
pydantic-settings